@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Slabo+27px|Pacifico');


$primary-color: #e52a6f;
$secondary-color: #67aeca;
$ternary-color:  #675682;

@mixin rotate-color($animationTime){
  -webkit-animation: rotate-color $animationTime;
       -moz-animation: rotate-color $animationTime;
        -ms-animation: rotate-color $animationTime;
         -o-animation: rotate-color $animationTime;
            animation: rotate-color $animationTime;
}

.appointment-modal {
  position: absolute;
  width: 100%;
  height: 150vh;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-color: $primary-color;

  .social-media-icons{
   position: absolute;
   bottom: 0;
   left: 50%;

   &:hover{
     cursor: pointer;
   }
  }

  .appointment-form-background{
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    background-position: cover;
    background-size: cover;
    z-index: 5;

    .appointment-form-exit{
      cursor: pointer;
      position: fixed;
      font-size: 2em;
     }

    .appointment-form{
      position: fixed;
      width: 85%;
      border-style: solid;
      height: 85%;
      margin: 5% 7%;
      background-color: black;
      border-radius: 5%;

      .date-time-info{
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 3em;
        border-bottom-style: solid;
        align-items: baseline;
        height: 10vh;
      }
      label{
        color: white;
        font-size: 2em;
      }

      .email-label{
        position: absolute;
        left: 5%;
        top: 25%;
      }
      .firstName-label{
        position: absolute;
        margin-top: 6%;
        margin-left: 5%;
      }
      .lastName-label{
        position: absolute;
        margin-top: 5%;
        left: 5%;
      }

      input{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
      }

      .email-input{
        margin-top: 10%;
        margin-left: 5%;
        height: 5%;
        width: 50%;
      }
      .firstName-input{
        margin-top: 10%;
        margin-left: 5%;
        height: 5%;
        width: 50%;
      }
      .lastName-input{
        width: 50%;
        margin-top: 10%;
        margin-left: 5%;
        height: 5%;
      }
      .submit{
        position: absolute;
        margin-top: 5%;
        height: 5%;
        width: 10%;
        font-size: 1em;
        left: 5%;
        &:hover{
          cursor: pointer;
        }
      }

    }
  }

  .exit{
    color: white;
    position: fixed;
    z-index: 1;
    font-size: 2em;
    left: 0;
    top: 0;
    cursor: pointer;
  }

  .logo {
    display: flex;
    align-items: center;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 20vh;
    position: fixed;
    background-color: black;
    justify-content: center;
    z-index: 1;
    font-size: 6em;
    font-weight: bold;
    font-family: 'Great Vibes';
    color: $primary-color;
    text-shadow: -2px 3px 0 $secondary-color, -5px 7px 0 $ternary-color;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
    margin-bottom: 1%;
    &:hover{
      @include rotate-color(9s);
    }
  }

  .date{
      position: fixed;
      z-index: 1;
      background-color: transparent;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      right: 0;
      top: 5%;
      width: 80vw;
      height: 6vh;
      font-size: 2em;

    li{
      font-size: 1.5vw;
      display: flex;
      padding: 5% 5% 1% 5%;
      border-color: transparent;
      color: white;
      font-size: 2em;
      position: absolute;
      top: 8%;
      left: 61%;

      &:nth-child(1){
        left: 50%;
      }
      &:nth-child(2){
       left: 60%;
      }

    }
  }

  .time-zones {
    width: 100%;
    height: 80vh;
    margin-bottom: 0%;
    padding-top: 20%;
    background-color: $primary-color;

    li{
      height: 25%;
      background-color: $primary-color;
      font-size: 2em;
      list-style-type: none;

      &:hover{
        background-color: $secondary-color;
        color: white;
        cursor:pointer;
      }
    }
  }
}
