@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Slabo+27px|Pacifico');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "LandingHeroImage";
@import "NavigationBar";
@import "LandingProductInfo";
@import "LandingBestSeller";
@import "LandingAppointment";
@import "SemanticMediaQuery";
@import "Store";
@import "StoreModal";
@import "SearchStoreModal";
@import "Appointment";
@import "BookAppointment"; 
$boolean: true !default;


body, html{
  height: 100vh;
  margin: 0;
}
