@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Slabo+27px|Pacifico');
$shadow: 0px 3px 0px #fce0e4, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
/*=======================
Landing Best Seller
========*/

.landing-best-seller{
  width: 100vw;
  height: 95vh;
  position: relative;
  border-style: solid;
  background: url('images/skincare.jpg'), no-repeat left top, linear-gradient(#67aeca, #32CD32);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


  .model-women{
    border-radius: 50%;
    border: solid black;
    width: 55%;
    height: 60%;
    background-image: url('images/model_women.jpg');
    background-repeat: no-repeat;
    background-position: center;background-color: pink;
    left: 20%;
    position: absolute;
    top: 10%;
    transform: skewX(5deg);
    box-shadow: $shadow;
  }

  button {
    background: #365F34;
    border-color: #3F6B1B;
    border-radius: 5%;
    border-width: thin;
    color: rgba(138, 207, 240, 1);
    display: flex;
    top: 80%;
    left: 40%;
    position: absolute;
    width: 18vw;
    height: 11vh;
    font-size: 1.5em;
    padding: 0%;
    text-align: center;
    font-family: 'Pacifico', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 1px #82c8a0 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 8px 0 0 rgba(126, 194, 155, .7),
				0 8px 0 1px rgba(0,0,0,.4),
				0 8px 8px 1px rgba(0,0,0,0.5);

    &:hover{
      cursor: pointer;
    }

  }

}
