.page-not-found{
    background-image: url('./images/notFound.jpeg');
    background-repeat: no-repeat;
    position: absolute;
    background-position: cover;
    background-size: contain;
    left: 0%;
    bottom: 25%;
    border-radius: 50%;
    width: 100%;
    height: 60%;
    margin: 0 auto;
    border-style: solid;
    background-color: black;
}
